$navColor:#15133C;
$navColorHover:#7FB5FF;
$navColorHome:#069A8E;

// transition variables
$bgColorAbout:#fff;
$btnColor:#947EC3;

//basalam
$txtColor:#9900F0;
$hoverColor:#99C4C8;
$colorHead:#2155CD;